@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1 {
  font-family: 'Roboto', sans-serif;
  color: #00E8FF;}
}

h1 {
  color: E000FF;
  border: 6px solid blue;
}
  
p {
  font-style: italic;
  font-size: 15;
  color: E000FF;
}

body { background-color: LimeGreen;}

body { background-image: url ("https://github.com/EthanZouIsHere/portfolio/blob/master/chrome_logo.0.jpg");

h2 {
    
  float: left;
  
  }
 
.hobbyheading {
  color: #1700FF;
  }
  
  .navbar {
    overflow:hidden;
    background-color:#00FFE0;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #42FF00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #FF0000;
    color: #2300FF;
  }
    
