@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  border: 6px solid blue;
}

p {
  
  font-size: 18;
}

.navbar {
    overflow:hidden;
    background-color:#00FFE0;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #42FF00;
    text-align: center;
    padding: 36px 40px;
    text-decoration: underline;
    font-size: 17px;
    background-color: #ECFF00;
  }

.navbar a:hover {
    background-color: #FF0000;
    color: #2300FF;
  }
  
  .navbar a.active {
    background-color: #E000FF;
    color: #FFA600;
  }
  
    
